<div [formGroup]="form">
<input type="text" formControlName="Username" placeholder="name">
<div formArrayName="data" *ngFor="let element of anotherformcontrol();let i =index;">
<div [formGroupName]="i">
<input type="text" formControlName="phone_no" placeholder="Phone Number">
</div>
</div>
<button (click)="addmore()">Add</button>
<button (click)="submit()">Submit</button>
</div>
<!-- <button *ngFor="let data of index;let i= index">
    {{i+1}}
</button>
<P [innerHTML]="text"></P> -->
<!-- <P [innerHTML]="image"></P> -->

<!-- <div>
    <img src="assets\studies.gif" alt="">
</div>
<button>90</button> -->