<app-sidebar></app-sidebar>
<div [formGroup]="form">
<input type="text" formControlName="Username" placeholder="User Name">
<div formArrayName="data" *ngFor="let element of anotherformcontrol();let i =index;">
<div [formGroupName]="i">
<input type="text" formControlName="phone_no" placeholder="Phone Number">
<button (click)="remove(i)">Remove</button>
</div>
</div>
<button (click)="addmore()">Add</button>
<button (click)="submit()">Submit</button>
</div>
<app-footer></app-footer>
<!--  <button *ngFor="let data of index;let i= index">
    {{i+1}}
</button> -->