<div class="footer">
    <label>@copyright 2022 powered by kartik  :)</label>
</div>

 <!-- <button (click)="opentoggle()">toggle</button>
<div [class]="toggle?'green':''" *ngIf="toggle">show me </div>
 <div class="" [formGroup]="form" class="row">
    <input type="text" formControlName="username" id="" class="col-md-4">
     <span *ngIf="form.get('username')?.value == '' && onclickedsubmit">Enter user name</span>
     <input [type]="password? 'text':'password'"  class="col-md-4" formControlName="password" id="">
    <input type="number" formControlName="college_code" class="col-md-4" id="">
    <button class="btn btn-primary" (click)="submit()" style="width: 100px;">submit</button>
</div>
<button (click)="showpass()">show button</button> 
<div class="main-card">
    <div class="card1" style="padding:12px">
<div style="display: flex;justify-content:center;align-items: center;">
    profile left side 
    <img src="assets\profile.png" alt="" width="20px"> 
</div>   
    </div>
    <div class="card2" style="padding:12px">
        <div style="display:flex; justify-content: center; align-items: center;">
        right side
    <img src="assets\profile.png" alt="" width="20px"> 
</div>
</div>
</div> -->