
<mat-toolbar>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          </button>
     <span> My App</span>
     <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <mat-icon>favorite</mat-icon>
     </button>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>share</mat-icon>
     </button>
   </mat-toolbar>
     <button mat-raised-button (click)="openDialog(template)">Open dialog without animation</button>
     <ng-template #template let-model>
     <h1 mat-dialog-title>Delete file</h1>
     <div mat-dialog-content>
       Would you like to delete cat.jpeg?
     </div>
     <div mat-dialog-actions>
       <button mat-button mat-dialog-close>No</button>
       <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
     </div>
     </ng-template>
<mat-drawer-container class="example-container" >
     <mat-drawer #drawer class="example-sidenav" mode="side">
       <p>Auto-resizing sidenav</p>
       <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
       <button (click)="showFiller = !showFiller" mat-raised-button>
         Toggle extra text
       </button>
     </mat-drawer>
   </mat-drawer-container>
