<!-- <div class="maincard">
    <div class="card" [style.Width]="maxWFromRight + 'px'" [style.Height]="maxHFromRight + 'px'">
         <img src="assets\studies.gif">
    </div>
</div>
<input type="text" [(ngModel)]="maxWFromRight"> maxWFromRight
<input type="text" [(ngModel)]="maxHFromRight"> maxHFromRight<br> -->
<div class="container mt-5">
    <h2>Posts</h2>
    <table class="table">
      <thead class="thead-dark">
          <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>College Code</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of Object">
          <th scope="row">{{ data.username }}</th>
          <td>{{ data.password }}</td>
          <td>{{ data.college_code }}</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="card2">
    <div class="adminlogin">
      <label><b><h4>ADMIN LOGIN</h4></b></label>
    </div>
    <div class="uname">
        <input type="text" placeholder="User Name" [(ngModel)]="username">
    </div>
    <div class="pwd">
        <input type="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="clgcode">
        <input type="number" placeholder="College Code" [(ngModel)]="college_code">
    </div>
    <div class="login">
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
    </div>
</div>