<!-- <div class="main-card">
<div [class]="colorname" class="card1"></div>
    <div class="card2">
    <div>
        <button style="background-color:red; width:100px;" (click)="color('red')">Red</button>
    </div>
    <div class="green">
        <button style="background-color:green; width:100px;" (click)="color('green')">Green</button>
    </div>
    <div class="aqua">
        <button style="background-color:aqua; width:100px;" (click)="color('aqua')">Aqua</button>
    </div>
    <div class="yellow">
        <button style="background-color:yellow; width:100px;" (click)="color('yellow')">Yellow</button>
    </div>
</div>
</div> -->
<!-- <div class="main" style="display: grid; justify-content:center;">
<img src="assets\animation_500_l3phfkof.gif"alt="" style="width:100%;height:400px;">     
<button (click)="newpage()" style="background-color:white;border-radius: 10px; width:80px;margin-left: 160px;"><b>New</b></button> 
<button (click)="back()" style="background-color:white;border-radius: 10px; width:80px;margin-left: 160px;"><b>Back</b></button>
    </div> -->

