<div class="flex-container">
    <div class="card2">
        <div class="adminlogin">
          <label><b><h4>ADMIN LOGIN</h4></b></label>
        </div>
        <div class="uname">
            <input type="text" placeholder="User Name" [(ngModel)]="username">
        </div>
        <div class="pwd">
            <input type="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="clgcode">
            <input type="number" placeholder="College Code" [(ngModel)]="college_code">
        </div>
        <div class="login">
            <button type="button" class="btn btn-block" (click)="login()">Login</button>
        </div>
    </div>
    <div class="card1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW8BZlCiSTauyXusz6X20BMmDqiCvzc7y9p-zMjRlkY12ySWAKuU4MkO6IxKgsbxv1m40&usqp=CAU" style="width: 400px;" >
    </div>
   

</div>
